.bg-white {
    background-color: #DEDDDC;
    color: #666666;
}

.bg-white:hover {
    color: #666666;
}

.gray-50 {
    background-color: #eceeee;
}

.blue1 {
    background-color: #4697b7;
}

.bg-blue2 {
    background-color: #3d839f;
}

.blue3 {
    background-color: #598fa4;
}

.bg-blue4 {
    background-color: #4e7d8f;
}

.blue5 {
    background-color: #4a7c8c;
}

.bg-blue6 {
    background-color: #3e6977;
}

.blue7 {
    background-color: #4d6c88;
}

.bg-blue8 {
    background-color: #3d556d;
}

.blue9 {
    background-color: #425689;
}

.bg-blue10 {
    background-color: #374772;
}

.blue11 {
    background-color: #444f6a;
}

.bg-blue12 {
    background-color: #333e59;
}

.fblue1 {
    background-color: #7a8c9c;
}

.bg-fblue2 {
    background-color: #8599ab;
}

.fblue3 {
    background-color: #4c759c;
}

.bg-fblue4 {
    background-color: #689bcb;
}

.fblue5 {
    background-color: #09c6dc;
}

.bg-fblue6 {
    background-color: #90dce4;
}

.fblue7 {
    background-color: #128bc3;
}

.bg-fblue8 {
    background-color: #18a3e3;
}

.fblue9 {
    background-color: #486774;
}

.bg-fblue10 {
    background-color: #678d9d;
}

.fblue11 {
    background-color: #006e9a;
}

.bg-fblue12 {
    background-color: #0382b5;
}

.bg-green1 {
    background-color: #7a8c9c;
}

.bg-green2 {
    background-color: #8599ab;
}

.bg-green3 {
    background-color: #617180;
}

.bg-green4 {
    background-color: #08a2b4;
}

.bg-green5 {
    background-color: #1177a6;
}
.forange1{
    background-color: #e1af58;
}
.bg-orange2{
    background-color: #bf8e39;
}